<!-- messaggi prima
        <div *ngIf="messageService.messages.length">

    <h2>Messages</h2>
    <button class="clear"
            (click)="messageService.clear()">Clear messages</button>
    <div *ngFor='let message of messageService.messages'> {{message}} </div>
  
  </div>
-->



<div  fxLayout="row" fxLayoutGap="5px">
  <mat-card  class="message-card bordo-grigio"> 
          <mat-card-title>      <h2 class= "rosso ">Messages</h2>       </mat-card-title> 
          <mat-card-content>  
                <ul class="messages">

                        <ng-container >    
                                <div *ngFor='let message of messageService.messages'> 
                                       <li>      
                                        {{message}}
                                      </li>   
                                </div>   
                        </ng-container>    
                                        <br> 

                        <ng-container >  
                                <button class="clear"
                                (click)="messageService.clear()"> Clear messages  </button>  

                        </ng-container>        
                </ul>
        </mat-card-content> 
        </mat-card>

        <!-- -->

        <mat-card class="message-card bordo-grigio"> 
                <mat-card-title>      <h2> Error mgs</h2>       </mat-card-title> 
                <mat-card-content>  
                      <ul class="messages">
      
                              <ng-container >    
                                      
                              </ng-container>    
                                              <br> 
      
                              <ng-container >  
                                       
      
                              </ng-container>        
                      </ul>
              </mat-card-content> 
              </mat-card>

                <!-- -->

              <mat-card class="message-card bordo-grigio"> 
                <mat-card-title>      <h2>App msg</h2>       </mat-card-title> 
                <mat-card-content>  
                      <ul class="messages">
      
                              <ng-container >    
                                      
                              </ng-container>    
                                              <br> 
      
                              <ng-container >  
                                      
      
                              </ng-container>        
                      </ul>
              </mat-card-content> 
              </mat-card>
</div>

<!--  fxlayouat="row" fxlayoutgap="5px" -->
